* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

body {
  background-color: #f1eeee; }

.container-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.closed {
  display: none !important; }

.open {
  display: flex !important; }

.justify-content-between {
  justify-content: space-between; }

.d-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 1.5em; }

#container-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }

.modal-content {
  background-color: #fff;
  max-width: 590px;
  border-radius: 10px;
  padding: 1.2rem;
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: 2; }
  .modal-content img {
    margin: 1rem auto;
    display: block;
    max-width: 100%; }
  .modal-content h4 {
    font-size: 1.3rem;
    margin: 10px 0; }
  .modal-content button {
    position: absolute;
    border: none;
    background: transparent;
    top: 2px;
    right: 17px;
    color: #686868;
    cursor: pointer;
    font-size: 1.5rem; }

header {
  background: lightblue; }
  header > div {
    align-items: center;
    justify-content: space-between;
    height: 80px; }
  header .logo {
    max-width: 267px;
    margin: 0;
    height: fit-content; }
  header nav {
    display: flex;
    align-items: center; }
    header nav ul {
      display: flex;
      list-style-type: none; }
      header nav ul li {
        padding: 5px; }
        header nav ul li a {
          text-decoration: none;
          font-size: 1.2rem; }
        header nav ul li:not(:last-child)::after {
          content: "|";
          margin-left: 10px; }

main h1 {
  width: 100%;
  margin: 2rem 0 1rem; }
  main h1.title {
    font-size: 2rem; }

main p.subtitle {
  font-size: 1rem;
  margin: 0.2rem 0 1rem;
  width: max-content; }
  main p.subtitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 5px; }

main article {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 0px 8px -1px rgba(54, 54, 54, 0.76);
  border-radius: 10px;
  max-height: 261px;
  background-color: #fff;
  transition: box-shadow 0.5s;
  max-height: 250px;
  cursor: pointer; }
  main article:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 20px -1px rgba(54, 54, 54, 0.76); }
  main article .figure {
    min-width: 30%;
    display: block;
    height: 100%;
    background-size: cover;
    border-radius: 10px 0 0 10px; }
  main article .review {
    display: flex;
    width: 100%;
    align-items: center; }
    main article .review img ~ div {
      margin-left: 5px;
      display: inline; }
  main article > div:last-of-type {
    padding: 15px; }
    main article > div:last-of-type h4 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 5px 0;
      margin-bottom: 7px; }
    main article > div:last-of-type p {
      margin-bottom: 40px;
      height: 40px;
      overflow: hidden; }
  main article .line-button {
    display: flex;
    justify-content: flex-end; }
    main article .line-button button {
      border: none;
      cursor: pointer;
      padding: 10px;
      margin-top: 15px;
      position: relative;
      right: 0;
      background-color: #e9e9e9;
      border: 1px solid #ccc;
      border-radius: 11px; }
